@import url('https://fonts.googleapis.com/css?family=Pacifico');
*{
  padding: 0;
  margin: 0;
}

header,
nav,
aside,
main,
footer{
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 23px;
}


header{
  background: darkblue;
}

nav {
  background:steelblue;
}

aside{
  background: lightblue;
}
main{
  background:purple;
}
footer{
  background: aqua;
}
